.app {
    display: flex;
    flex-direction: column;
    .messages {
        .agent-message {
            color: purple;
        }
        .user-message {
            color: salmon;
        }
    }
}
