body {
    font-size: $body-font-1;
    font-family: 'DINNextW01-Light';
    margin: 0;
}

@mixin flex {
    display: flex;
}

@mixin flex-container($content) {
    @include flex();
    justify-content: $content;
}

@mixin flex-item($direction) {
    display: flex;
    align-self: center;
}

//For Desktop
@media only screen and (min-width: 768px) {
    body {
        margin: 0 25% 0 25%;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        min-width: 430px;
    }
}
